
body {
  padding-top: 50px;
}

.hero {
  width: 100%;
  height: auto;
}

.headline {
  text-align: center;
}

.toc {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
}

#bridgefoundry-logo {
  float: left;
  width: 100px;
  margin-right: 10px;
}

/* Make scrolling from nav work with fixed header */
h2.anchor::before, h3.anchor::before {
  content: "";
  display: block;
  height: 51px;
  margin: -51px 0 0;
}


nav[data-toggle='toc'] {
  margin-top: 20px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  .toc.affix {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
}

.bridgefoundry-advisors-imgs {
  margin: 0 auto 5px 5px;
  border: 2px solid #ccc;
  width: 150px;
  height: 150px;
  float: right;
}
